<div class="container-fluid">
  <table class="table table-primary">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Correo</th>
        <th scope="col">Ciudad</th>
        <th scope="col">Phone</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let usuario of usuariosLista ">
        <th scope="row">{{usuario.id}}</th>
        <td>{{usuario.name}}</td>
        <td>{{usuario.email}}</td>
        <td>{{usuario.address.city}}</td>        
        <td>{{usuario.phone}}</td>
      </tr>
    </tbody>
  </table>
  <br>
  <button type="button" class="btn btn-danger" routerLink ="/home">Volver al home</button>
</div>
